* {
    font-family: "Sofia", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* display: inline-block; */

}

html,
body {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

#page1 {
    min-height: 100vh;
    width: 100%;
    background-color: rgb(238, 224, 224);
    position: relative;
    padding: 0 2vw;
}

#nav {
    position: relative;
    padding: 3vw 0vw;
    /* background-color: #FE320A; */
    margin-top: 0px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#part1 {
    display: flex;
    gap: 1.9vw;
    text-align: center;
    padding-right: 90px;
}

#nav part1,
h4 {
    overflow: hidden;
    padding: 19px 30px;
    border: 1px solid rgb(132, 117, 11);
    border-radius: 29px;
    font-weight: 500;
    color: rgb(0, 0, 0);
    font-size: 20px;
    position: relative;
    /* display: none; */

}

#nav-part1,
h4::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: black;
    left: 0;
    bottom: -100%;
    border-radius: 30px;
    transition: all ease 0.5s;

}

#nav-part1,
h4:hover::after {
    bottom: 0;
    border-radius: 0;
}

#nav-part1,
h4 a {
    text-decoration: none;
    position: relative;
    z-index: 9;
    color: black;
    transition: all ease 0.5s;
}

#nav-part1,
h4:hover a {
    color: white;


}

#center {
    height: 67vh;
    width: 100%;
    display: flex;
    position: relative;
    align-items: flex-end;
    justify-content: space-between;
    padding-left: 30px;
    border-bottom: 1px solid black;
}

#left {
    font-size: 2rem;
    font-weight: bold;
    padding-bottom: 5vw;
    font-family: sans-serif;
}

#right {
    font-size: 7rem;
    padding-right: 25px;
text-align: right;
padding-bottom: 4vw;
}

#center h1 {
    line-height: 7vw;
    font-family: sans-serif;
}

#page1 video {
    position: relative;
    border-radius: 30px;
    margin-top: 4vw;
    width: 100%;
}

#part2 {
height: 100%;
    width: 100%;
}

#hero-shape {
    /* display: none; */
position: absolute;
    width: 46vw;
    height: 36vw;
    right: 0;
    top: 70vh;
}

#hero-1 {
    background-color: #FE320A;
    height: 100%;
    width: 100%;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    filter: blur(10px);
    position: absolute;
}

#hero-2 {
    background: linear-gradient(#FE320A, #fe3f0a);

    height: 30vw;
    width: 30vw;
border-radius: 50%;
    position: absolute;
    animation-name: anime2;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    filter: blur(25px);
}

#hero-3 {
    background: linear-gradient(#FE320A, #fe3f0a);
    height: 30vw;
    position: absolute;
    width: 30vw;
    border-radius: 50%;
    filter: blur(25px);
    animation-name: anime1;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes anime1 {
    from {

        transition: translate(55%, -3%);
    }

    to {
        transition: translate(0%, 10%);
    }
}

@keyframes anime2 {
    from {
        transform: translate(5%, -5%);
    }

    to {
        transform: translate(-20%, 30%);
    }
}

#page2 {
    min-height: 46vh;
    width: 100%;
    /* background-color: #cfccc9; */
    padding: 8vw 0;
    position: relative;
    background-color: rgb(238, 224, 224);
}

#movingtext {
    overflow-x: auto;
    white-space: nowrap;
}

#movingtext::-webkit-scrollbar {
    display: none;
}

.con {

    white-space: nowrap;
display: inline-block;
    animation-name: move;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

#movingtext h1 {
    font-size: 8vw;
    display: inline-block;
}

#gol {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    display: inline-block;
    background-color: #FE320A;
}

@keyframes move {
    from {
        transform: translatex(0);
    }

    to {
        transform: translatex(-100%);
    }
}

#num-1 {
    display: flex;
    justify-content: space-between;
    padding-top: 23vw;
    padding-left: 4vw;
    padding-right: 2vw;
line-height: 75px;
}

.left {
    font-size: 45px;
    display: block;

}

.right p {
    line-height: 40px;
    font-size: 35px;
    padding-top: 4vw;
    text-align: left;
}

.right img {
    border-radius: 70px;
    margin-right: 25px;
    margin-top: 150px;
}

#circle-1 {
    height: 32vw;
    width: 32vw;
    position: absolute;
    border-radius: 50%;
    background: linear-gradient(to top right, #ff2d03, #ff5c0b);
    background: linear-gradient(to top right, red, blue);


    top: 58%;
    left: 25px;
    filter: blur(20px);
    animation-name: circle;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;

}


@keyframes circle {
    from {
        filter: blur(20px);
        transform: translatex(10%, -10%) skew(0);
    }

    to {
        filter: blur(30px);
        transform: translatex(-10%, 10%) skew(-12deg);
    }
}

#page3 {
    min-height: 100vh;
    width: 100%;
    background-color: rgb(238, 224, 224);
}

#flower {
    color: rgb(0, 0, 0);
    display: flex;
    border-bottom: 2px solid rgb(110, 101, 101);
    padding: 30px;
    font-size: 1.5rem;
    justify-content: space-between;
}

#flower h5 {
    text-align: right;

}

#flower:hover h2 {
color: white;
}

#flower:hover {
    background-color: rgb(0, 0, 0);
    transition: 0.3s;
}

.part1 {
    display: flex;
}

.part1 h1 {
    margin-top: 50px;
    margin-left: 45px;
    padding: 20px;
    border: 2px solid black;
    border-radius: 50px;
    position: relative;
    overflow: hidden;
}

.part1 h1:hover a {
color: aliceblue
}

.part1 a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    z-index: 9;
    position: relative;
}

.part1 h1:hover::after {
    bottom: 0px;
    border-radius: 0px;
}

.part1 h1::after {
    content: "";
    background-color: black;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0px;
    bottom: -100%;
    transition: 0.6s;
}

#page4 {
    height: 100vh;
    width: 100vw;
    margin-left: 30px;
    padding-right: 100px;
}

#blackbox {
    height: 110vw;
    display: flex;
    margin-top: 20px;
}

#tab {
    color: aliceblue;
    margin: 80px;
    font-size: 30px;
}

#des {
color: white;
}

footer {
    background-color: black;
    color: #fffdfd;
    text-align: center;
}










@media (max-width:660px) and (min-width: 320px) {
    #page1 {
        background-color: rgb(238, 224, 224);
        min-height: 60vh;
    }

    #nav {
        padding: 0vw 6vw;
        flex-direction: column;
    }

    #nav img {
        height: 46px;

    }

    #nav part1,
    h4 {
        padding: 8px 9px;
        font-size: 14px;

    }

    #left {

        font-size: 15px;
        font-weight: bold;

    }

    #right {
        font-size: 1.6rem;
        text-align: center;
    }

    #hero-shape {

        position: absolute;
    width: 54vw;
height: 36vw;
        right: 0px;
        top: 76vh;
    }

    #center {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 25px;
    }

    #center h1 {
        line-height: 15vw;
        font-family: sans-serif;
    }

    #page2 {
        position: relative;
    }

    #movingtext h1 {
        font-size: 7vw;
    }

    #gol {
        height: 15px;
        width: 15px;
    }

    #num-1 {
    line-height: 7vw;
    }

    .left {
    font-size: 6px;
        font-weight: 900;
    }

    .right p {
        line-height: 18px;
        font-size: 12px;
    }

    .right img {
        width: 35vw;
    }

    #circle-1 {
        height: 36vw;
        width: 36vw;
        top: 25%;
        left: 14%;
        position: relative;
    }

    #page3 {
        min-height: 65vh;
    width: 100%;
        background-color: rgb(238, 224, 224);
    }

    #flower {
        font-size: 10px;
    }

    #flower:hover h5 {
    color: white;
    }

    #part1 {
        display: flex;
        gap: 15.9vw;
        text-align: center;
        padding-right: 0px;
        /* align-items: center; */
        /* justify-content: center; */
        margin: 30px;
    }

    .part1 h1 {
        padding: 10px;
    }

}

@media (min-width: 660px) and (max-width:1024px) {

    #page1 {
        background-color: rgb(238, 224, 224);
    }

    #nav {
        position: relative;
        padding: 1vw 0vw;
    }

    #nav part1,
    h4 {
        padding: 10px 15px;
        font-size: 16px;

    }

    #left {
        font-size: 15px;
        font-weight: bold;
    }

    #right {
        font-size: 2rem;
    }

    #center h1 {
        line-height: 7vw;
        font-family: sans-serif;
    }

    #movingtext h1 {
    font-size: 7vw;
    }

    #gol {
        height: 25px;
        width: 25px;
    }

    #num-1 {
        line-height: 7vw;
    }

    .left {
        font-size: 12px;
    }

    .right p {
        line-height: 28px;
        font-size: 20px;

    }

    .right img {
        width: 35vw;
    }

    #circle-1 {
    height: 36vw;
        width: 36vw;
        top: 51%;
        left: 20%;

    }

    #page3 {
        min-height: 100vh;
        width: 100%;
        background-color: rgb(238, 224, 224);
    }

    #flower {
        font-size: 1rem;
    }

    #flower:hover h5 {
        color: white;
    }

    .part1 h1 {
    padding: 10px;
    }
}

@media (max-width:2400px) and (min-width: 1024px) {
    #left {
        font-size: 25px;
        padding-bottom: 7vw;
    }

    #right {
        font-size: 4rem;
        padding-right: 9PX;
    padding-bottom: 5vw;
    }

    #center h1 {
        line-height: 9vw;
    }

    #num-1 {
        line-height: 75px;
    }

    .left {
        font-size: 17px;

    }

    .right p {
        line-height: 40px;
        font-size: 35px;
        padding-top: 4vw;
    }

    .right img {
        margin-top: 194px;
        height: 250px;
    }

    #circle-1 {
        top: 47%;
        left: 25%;
    }



}